body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: aquamarine;
}
.banner-column{
    background-color: #081621;

}

.navbar-container{
    background-color: #130101;
    position:sticky;
    top: 0;
    z-index: 2;
}
.about-container{
    background-color:#40873D ;
}

.education-container{
    background-color: #ACB5B6;
}
.bg-red{
    background-color: #C23226;
}
.bg-red:hover{
    color: black!important;
}

.redtype-color{ 
    color: #C23226 ;
    font-weight: bold;
}

.circle{
    background-color: #C23226;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: lightblue;
}

.form-container{
    background-color: grey;
}

.inner-form{
    background-color: #4B7777;
    
    
}
.footer{
    background-color: aquamarine;
}
.footer-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display:inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;

}
.footer-circle:hover{
    background-color: #4B7777;
}